* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

.first_section {
    background-color: red;
    height: 120vh;
    width: 100vw;
    position: relative;
}

.second_section {
    background-color: green;
    height: 120vh;
    width: 100vw;
    position: relative;
}

.third_section {
    background-color: yellow;
    height: 120vh;
    width: 100vw;
    position: relative;
}

.center_img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.center_text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.text {
    font-size: 45px;
    text-align: center;
    color: yellow;
}

.text_green {
    font-size: 45px;
    text-align: center;
    color: green;
}

img {
    width: 700px;
}